    body {
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	color: #fff;
	overflow: auto;
	font-size: 1rem;
}

.box {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

.card {
	background-color: rgba(180, 180, 180, 0.5);
	padding: 40px;
	border: none;
	overflow-y: auto;
}

.header-img {
	max-height: 100px;
}

.void {
	width:100%;
	height: 30px;
}

.title {
	font-weight: bold;
	font-size: 1.5rem;
	color: #fff;
}

.error {
	color: #FF0000;
}

#countdown {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 40px;
}

#countdown > div {
	padding: 15px;
	border-radius: 5px;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}

.btn-wrap-text {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

.box-width {
	width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
	.box-width {
		width: 75%;
	}
	.hd-text {
		font-size:12px; 
	}
	
	.hd-text-1 {
		font-size:20px;
	}
	
	.hd-text-2 {
		font-size:20px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
	.box-width {
		width: 75%;
	}
	.hd-text {
		font-size:14px; 
	}
	
	.hd-text-1 {
		font-size:50px;
	}
	
	.hd-text-2 {
		font-size:50px;
	}

	.title {
		font-size:1.1em;
	}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
	.box-width {
		width: 50%;
	}
	.hd-text {
		font-size:14px; 
	}
	
	.hd-text-1 {
		font-size:50px;
	}
	
	.hd-text-2 {
		font-size:50px;
	}

	.title {
		font-size:1.2em;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
	.box-width {
		width: 50%;
	}
	.hd-text {
		font-size:14px; 
	}
	
	.hd-text-1 {
		font-size:50px;
	}
	
	.hd-text-2 {
		font-size:50px;
	}

	.title {
		font-size:1.5em;
	}
}

.no-spinners {
	-moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button, .no-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.flash-button{
	color:#fff;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
.custom-input {
      width: 100%;
      padding-left: 16px; /* px-4 */
      padding-right: 16px; /* px-4 */
      padding-top: 8px; /* py-2 */
      padding-bottom: 8px; /* py-2 */
      border: 1px solid #d1d5db; /* border-gray-300 */
      border-radius: 0.5rem; /* rounded-lg */
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-sm */
      transition: all 0.3s ease-in-out; /* transition duration-300 ease-in-out */
      background-color: #f7fafc; /* bg-gray-100 */
      font-size: 0.875rem; /* text-sm */
    }
    
    .custom-input:hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* hover:shadow-lg */
      border-color: #60a5fa; /* hover:border-blue-300 */
    }
    
    .custom-label {
      display: block;
      color: #ffffff; /* text-gray-700 */
      font-size: 0.875rem; /* text-sm */
      margin-left: 1vw;
      margin-bottom: 0.5rem; /* mb-2 */
    }
    
    .containers {
      width: 100%;
      max-width: 15rem; /* max-w-xs */
      margin-top:2vw;
    }
    .inline-container input[type="text"] {
      width: auto;
      flex-grow: 1; /* Allow the second input to take the remaining space */
    }
    button:not(.nocss) {
    font-size: 13px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

button:not(.nocss):hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:not(.nocss):active {
    transform: translate(0em, 0.2em);
}
.black{
    color:white;
    background-color: black;
}
