            .input-container {
                display: flex;
                gap: 10px;
            }
        
            .input-box {
                width: 100%;
            }
            .abc{
                color: #ffffff;
            }
            @media screen and(min-width: 1000px){
            #latch-screen{
                width: 40%
            }
            }
