@import"https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap";
*{
    box-sizing:border-box;
    font-family:"Lato",serif
}
html{
    width:100%;
    height:100%
}
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-image:url("./background.jpg");
    background-color:#0e0e0e;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed
}
.main{
    width:100%;
    height:100%
}
.main-background{
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background-color:#0e0e0e;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    opacity:0 !important;
    transition:opacity 5s ease
}
.main-route{
    position:relative;
    z-index:10;
    width:100%;
    min-height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.index{
    flex-grow:1;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%
}
.index-accepted,.index-rejected{
    width:100%;
    max-width:1200px;
    background-color:rgba(0,0,0,.3);
    backdrop-filter:blur(30px)
}
@media(min-width: 900px){
    .index-accepted,.index-rejected{
        box-shadow:5px 5px 20px rgba(0,0,0,.5)
    }
}
.index-accepted-header,.index-rejected-header{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    padding:20px;
    background-image:linear-gradient(90deg, #083661, #006CBF)
}
@media(min-width: 600px){
    .index-accepted-header,.index-rejected-header{
        padding:30px;
        flex-direction:row-reverse;
        justify-content:space-between;
        align-items:center
    }
}
.index-accepted-header-icon,.index-rejected-header-icon{
    height:80px;
    margin-bottom:20px
}
@media(min-width: 600px){
    .index-accepted-header-icon,.index-rejected-header-icon{
        margin-left:30px;
        margin-bottom:0
    }
}
.index-accepted-header-title,.index-rejected-header-title{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start
}
.index-accepted-header-title-text,.index-rejected-header-title-text{
    font-weight:900;
    color:#fff;
    letter-spacing:1px;
    margin:0;
    font-size:1.2rem
}
@media(orientation: portrait)and (min-width: 360px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.2rem
    }
}
@media(orientation: portrait)and (min-width: 400px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.3rem
    }
}
@media(orientation: portrait)and (min-width: 600px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.3rem
    }
}
@media(orientation: portrait)and (min-width: 900px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.5rem
    }
}
@media(orientation: landscape)and (min-width: 900px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.7rem
    }
}
@media(orientation: landscape)and (min-width: 1200px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.7rem
    }
}
@media(orientation: landscape)and (min-width: 1500px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.7rem
    }
}
@media(orientation: landscape)and (min-width: 1800px){
    .index-accepted-header-title-text,.index-rejected-header-title-text{
        font-size:1.7rem
    }
}
.index-accepted-header-title-sub,.index-rejected-header-title-sub{
    letter-spacing:1px;
    color:#fff;
    margin-top:10px;
    display:block;
    font-size:.9rem
}
@media(orientation: portrait)and (min-width: 360px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:.9rem
    }
}
@media(orientation: portrait)and (min-width: 400px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:.9rem
    }
}
@media(orientation: portrait)and (min-width: 600px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:.9rem
    }
}
@media(orientation: portrait)and (min-width: 900px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:1.1rem
    }
}
@media(orientation: landscape)and (min-width: 900px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:1.1rem
    }
}
@media(orientation: landscape)and (min-width: 1200px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:1.1rem
    }
}
@media(orientation: landscape)and (min-width: 1500px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:1.1rem
    }
}
@media(orientation: landscape)and (min-width: 1800px){
    .index-accepted-header-title-sub,.index-rejected-header-title-sub{
        font-size:1.1rem
    }
}
.index-accepted-content,.index-rejected-content{
    padding:20px
}
@media(min-width: 600px){
    .index-accepted-content,.index-rejected-content{
        padding:30px
    }
}
.index-accepted-content-upper,.index-rejected-content-upper{
    display:flex;
    flex-direction:column-reverse;
    justify-content:flex-start;
    align-items:stretch;
    margin-bottom:30px
}
@media(min-width: 900px){
    .index-accepted-content-upper,.index-rejected-content-upper{
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-start
    }
}
.index-accepted-content-upper-bio-nisn,.index-rejected-content-upper-bio-nisn{
    display:block;
    font-size:.9rem;
    font-weight:900;
    color:#88ccf0;
    margin-bottom:5px
}
.index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
    font-size:2.5rem;
    color:#fff;
    letter-spacing:2px;
    display:block;
    margin-bottom:5px;
    font-weight:900;
    font-size:1.9rem
}
@media(orientation: portrait)and (min-width: 360px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2rem
    }
}
@media(orientation: portrait)and (min-width: 400px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2rem
    }
}
@media(orientation: portrait)and (min-width: 600px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2rem
    }
}
@media(orientation: portrait)and (min-width: 900px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2.2rem
    }
}
@media(orientation: landscape)and (min-width: 900px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2.5rem
    }
}
@media(orientation: landscape)and (min-width: 1200px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2.3rem
    }
}
@media(orientation: landscape)and (min-width: 1500px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2.5rem
    }
}
@media(orientation: landscape)and (min-width: 1800px){
    .index-accepted-content-upper-bio-name,.index-rejected-content-upper-bio-name{
        font-size:2.5rem
    }
}
.index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
    color:#fff;
    font-weight:300;
    letter-spacing:1px;
    display:block;
    font-size:1rem
}
@media(orientation: portrait)and (min-width: 360px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.1rem
    }
}
@media(orientation: portrait)and (min-width: 400px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.2rem
    }
}
@media(orientation: portrait)and (min-width: 600px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.2rem
    }
}
@media(orientation: portrait)and (min-width: 900px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.3rem
    }
}
@media(orientation: landscape)and (min-width: 900px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.3rem
    }
}
@media(orientation: landscape)and (min-width: 1200px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.3rem
    }
}
@media(orientation: landscape)and (min-width: 1500px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.3rem
    }
}
@media(orientation: landscape)and (min-width: 1800px){
    .index-accepted-content-upper-bio-program,.index-accepted-content-upper-bio-university,.index-rejected-content-upper-bio-program,.index-rejected-content-upper-bio-university{
        font-size:1.3rem
    }
}
.index-accepted-content-upper-qr,.index-rejected-content-upper-qr{
    width:120px;
    margin-bottom:15px
}
@media(min-width: 900px){
    .index-accepted-content-upper-qr,.index-rejected-content-upper-qr{
        margin-bottom:0
    }
}
.index-accepted-content-lower,.index-rejected-content-lower{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch
}
@media(min-width: 900px){
    .index-accepted-content-lower,.index-rejected-content-lower{
        flex-direction:row;
        justify-content:flex-start;
        align-items:flex-start
    }
}
@media(min-width: 900px){
    .index-accepted-content-lower-column,.index-rejected-content-lower-column{
        padding:0 15px
    }
}
.index-accepted-content-lower-column:first-child,.index-rejected-content-lower-column:first-child{
    padding-left:0
}
.index-accepted-content-lower-column:last-child,.index-rejected-content-lower-column:last-child{
    padding-right:0
}
.index-accepted-content-lower-column-25,.index-rejected-content-lower-column-25{
    width:100%;
    flex-grow:1;
    flex-shrink:0
}
@media(min-width: 900px){
    .index-accepted-content-lower-column-25,.index-rejected-content-lower-column-25{
        width:25%
    }
}
.index-accepted-content-lower-column-50,.index-rejected-content-lower-column-50{
    width:100%;
    flex-grow:1
}
@media(min-width: 900px){
    .index-accepted-content-lower-column-50,.index-rejected-content-lower-column-50{
        width:50%
    }
}
.index-accepted-content-lower-column-field,.index-rejected-content-lower-column-field{
    margin-bottom:30px
}
@media(min-width: 900px){
    .index-accepted-content-lower-column-field:last-child,.index-rejected-content-lower-column-field:last-child{
        margin-bottom:0
    }
}
.index-accepted-content-lower-column-field-caption,.index-rejected-content-lower-column-field-caption{
    display:block;
    font-size:.9rem;
    font-weight:900;
    color:#88ccf0;
    margin-bottom:5px
}
.index-accepted-content-lower-column-field-value,.index-rejected-content-lower-column-field-value{
    font-size:1.1rem;
    color:#fff;
    font-weight:900
}
.index-accepted-content-lower-column-note,.index-rejected-content-lower-column-note{
    background-color:#fafafa;
    padding:15px;
    align-self:center
}
.index-accepted-content-lower-column-note-title,.index-rejected-content-lower-column-note-title{
    font-weight:700;
    font-size:1.2rem;
    color:#2d2d2d;
    display:block
}
.index-accepted-content-lower-column-note-subtitle,.index-rejected-content-lower-column-note-subtitle{
    color:#2d2d2d;
    margin-bottom:10px;
    font-weight:300;
    font-size:.9rem;
    display:block
}
.index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
    color:#008acf;
    text-decoration:none;
    font-weight:900;
    font-size:.9rem
}
@media(orientation: portrait)and (min-width: 360px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:.9rem
    }
}
@media(orientation: portrait)and (min-width: 400px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1rem
    }
}
@media(orientation: portrait)and (min-width: 600px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1rem
    }
}
@media(orientation: portrait)and (min-width: 900px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1.2rem
    }
}
@media(orientation: landscape)and (min-width: 900px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1.2rem
    }
}
@media(orientation: landscape)and (min-width: 1200px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1.2rem
    }
}
@media(orientation: landscape)and (min-width: 1500px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1.2rem
    }
}
@media(orientation: landscape)and (min-width: 1800px){
    .index-accepted-content-lower-column-note-link,.index-rejected-content-lower-column-note-link{
        font-size:1.2rem
    }
}
.index-accepted-footer,.index-rejected-footer{
    padding:0 20px 20px 20px
}
@media(min-width: 900px){
    .index-accepted-footer,.index-rejected-footer{
        padding:0 30px 30px 30px
    }
}
.index-accepted-footer-paragraph,.index-rejected-footer-paragraph{
    font-weight:300;
    letter-spacing:1px;
    font-size:.9rem;
    color:#999;
    text-align:justify
}
.index-accepted-footer-paragraph:last-child,.index-rejected-footer-paragraph:last-child{
    margin-bottom:0
}
.index-rejected{
    max-width:900px
}
.index-rejected-header{
    background-image:linear-gradient(90deg, #bf0a0a, #e82d33)
}
 
